html {height:100%;}

body {
    background-image: url(bg_phone2.gif);
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-family: "Arial", sans-serif;
}

h1{
    text-align:center;
    padding: 3vw;
    font-size: 2em;
    background-color:rgba(255,255,255,0.3);
}

ul {
    list-style-type: none;
    font-size: 6vw;
    margin: 0;
    padding: 0;
    width: 80vw;
    background-color:rgba(1,1,1,0.5);
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10% 10vw;
    text-decoration: none;
}

li a:hover {
    background-color:rgba(255,255,255,0.3);
}

#img{
    width: 50vw;
    float: right;
}

#name{
    position:absolute;
    font-size: 8vw;
    font-weight: bold;
    z-index: 2;
    float:left;
    text-shadow: 0 0 2px white;
    color: hotpink;
}

footer {
    padding: 1vw;
    text-align: left;
    color: lightslategrey;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: lightslategrey;
}
